.stocklist {
  table {
    th, td {
      text-align: right;
      white-space: nowrap;
    }

    a.detail-link {
      text-decoration: none;
      color: var(--bs-white);
      display: block;

      &:hover {
        color: var(--bs-warning);
      }
    }

    td.delete-symbol {
      button {
        border: none;
        background: none;
      }
      svg {
        cursor: pointer;
        text-align: center;
        color: var(--bs-white);
        &:hover {
          color: var(--bs-danger);
        }
      }
    }
  }
}