.stocklist {
  table {
    th, td {
      text-align: right;
      white-space: nowrap;
    }

    a.detail-link {
      text-decoration: none;
      color: $white;
      display: block;

      &:hover {
        color: $warning;
      }
    }

    td.delete-symbol {
      button {
        border: none;
        background: none;
      }
      svg {
        cursor: pointer;
        text-align: center;
        color: $white;
        &:hover {
          color: $danger;
        }
      }
    }
  }
}